<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Blog Site</title>
<th:block th:replace="/fragments/styling :: head-style" ></ <th:block>
</head>
<body>
<div class="container">
 <div th:replace = "fragments/navbar :: navbar"></div>
<div class="row">
	
    <div class="col-xl">
	
    	<h3>This post has been deleted.</h3>
	
    </div>
	
</div>
	
 
	
<div class="row">
	
    <div class="col-md">
	
        <a href="/">
	
        	<button class="btn btn-primary">Return Home</button>
	
        </a>
	
        <a href="/blogposts/new">
	
        	<button class="btn btn-secondary">Create Another Blog Post</button>
	
        </a>
	
    </div>
	
</div>
</div>
<div th:replace="/fragments/styling :: body-links" ></div>
</body>
</html>